<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
input[type=text] {
  width: 100%;
  padding: 6px 6px;
  margin: 0.5px 0;
  box-sizing: border-box;
}
</style>
<body>
    <h1>Predicting the number of rings on the Abalone</h1>

<div>
<form action="/result" method="POST">
    <label for="Length"><h3>Length</h3></label>btw:[0-1]
    <input type="text" id="Length" name="Length">
    <br>
    <br>
    <label for="Diameter"><h3>Diameter</h3></label>btw:[0-1]
    <input type="text" id="Diameter" name="Diameter">
    <br>
    <br>
    <label for="Height"><h3>Height</h3></label>btw:[0-1]
    <input type="text" id="Height" name="Height">
    <br>
    <br>
    <label for="Shucked_weight"><h3>Shucked_weight</h3></label>btw:[0-1]
    <input type="text" id="Shucked_weight" name="Shucked_weight">
    <br>
    <br>
    <label for="Viscera_weight"><h3>Viscera_weight</h3></label>btw:[0-1]
    <input type="text" id="Viscera_weight" name="Viscera_weight">
    <br>
    <br>
    <input type="submit" value="Submit">
</form>
</div>
</body>
</html>
