<html>
<body>
    <h3>Predicting if you will survive or not in the Titanic incident</h3>

<div>
<form action="/result" method="POST">
    <label for="Length">Length</label>
    <input type="text" id="Length" name="Length">btw:[0-1]
    <br>
    <br>
    <label for="Diameter">Diameter </label>
    <input type="text" id="Diameter" name="Diameter">btw:[0-1]
    <br>
    <br>
    <label for="Height"> Height </label>
    <input type="text" id="Height" name="Height">btw:[0-1]
    <br>
    <br>
    <label for="Shucked_weight">Shucked_weight </label>
    <input type="text" id="Shucked_weight" name="Shucked_weight">btw:[0-1]
    <br>
    <br>
    <label for="Viscera_weight">Viscera_weight </label>
    <input type="text" id="Viscera_weight" name="Viscera_weight">btw:[0-1]
    <br>
    <br>
    <input type="submit" value="Submit">
</form>
</div>
</body>
</html>
